.tv-show-entry {
  border: 1px solid rgb(33, 56, 56);
  background-color: rgb(33, 56, 56);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: ease width 0.5s;
}

.tv-show-entry:hover {
  width: 85%;
}

.checked {
  color: orange;
}

.fa-trash, .fa-edit {
  margin-top: 2%;
  cursor: pointer;
  height: 35px;
}

.fa-trash {
  margin-left: 8%;
}

.fa-edit:hover {
  color: lightblue;
}

.fa-trash:hover {
  color: red;
}

.p-edit, .p-delete {
  margin: 0;
  margin-bottom: 25px;
  margin-top: 5px;
}

.p-edit {
  color: lightblue;
  font-weight: bold;
}

.p-delete {
  color: red;
  font-weight: bold;
}

.entry-title {
  font-size: 20px;
}

.entry-p {
  font-size: 14px;
}

.entry-p-last {
  margin-bottom: 8%;
}

.entry-buttons {
  margin-bottom: 2%;
}

#show-entry-h2, #description-p, #review-p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 500px) {
  .entry-p-last {
    margin-bottom: 4%;
  }
}

@media only screen and (min-width: 600px) {
  .entry-buttons {
    margin-bottom: 1%;
  }
}

@media only screen and (min-width: 750px) {
  .fa-trash, .fa-edit {
    margin-top: 20px;
    height: 35px;
  }
  .tv-show-entry {
    width: 70%;
  }
  .tv-show-entry:hover {
    width: 75%;
  }
  .entry-title {
    font-size: 22px;
  }
  .entry-p {
    font-size: 15px;
  }
  .entry-p-last {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1300px) {
  .fa-trash, .fa-edit {
    margin-top: 25px;
    height: 35px;
  }
  .tv-show-entry {
    width: 60%;
  }
  .tv-show-entry:hover {
    width: 65%;
  }
  .entry-title {
    font-size: 24px;
  }
  .entry-p {
    font-size: 16px;
  }
}