.tv-show-entry {
  border: 1px solid rgb(33, 56, 56);
  background-color: rgb(33, 56, 56);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: ease width 0.5s;
}

.tv-show-entry:hover {
  width: 85%;
}

.checked {
  color: orange;
}

.fa-trash, .fa-edit {
  margin-top: 1%;
  margin-bottom: 2%;
  height: 30px;
  cursor: pointer;
}

.fa-trash {
  margin-left: 8%;
}

.fa-edit:hover {
  color: lightblue;
}

.fa-trash:hover {
  color: red;
}

.p-edit, .p-delete {
  margin: 0;
}

.p-edit {
  color: lightblue;
  font-weight: bold;
}

.p-delete {
  color: red;
  font-weight: bold;
}

@media only screen and (min-width: 750px) {
  .fa-trash, .fa-edit {
    margin-top: 20px;
    height: 35px;
  }
  .tv-show-entry {
    width: 70%;
  }
  .tv-show-entry:hover {
    width: 75%;
  }
}

@media only screen and (min-width: 1300px) {
  .fa-trash, .fa-edit {
    margin-top: 25px;
    height: 35px;
  }
  .tv-show-entry {
    width: 60%;
  }
  .tv-show-entry:hover {
    width: 65%;
  }
}