.add-form-div {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(33, 56, 56);
  border: 1px solid rgb(33, 56, 56);
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.form-section {
  margin-bottom: 4%;
}

.add-form-label {
  display: block;
  margin-bottom: 0.5%;
}

.add-form-input {
  width: 60%;
  max-width: 300px;
}

.add-form-select {
  width: 60.5%;
  max-width: 305px;
}

.required {
  color: red;
}

#description, #review {
  width: 80%;
  max-width: 600px;
  height: 70px;
}

.required-p {
  font-size: 11px;
  margin-top: 0;
  margin-top: 0.5%;
}

.form-buttons-div {
  margin-top: 4%;
  margin-bottom: 5%;
}

.add-show-button, .dashboard-button {
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border: 1.5px solid white;
  width: 80px;
  height: 30px;
  font-size: 14px;
  transition-duration: 0.4s;
}

.add-show-button {
  margin-right: 2%;
}

.dasboard-button {
  margin-left: 2%;
}

.add-show-button:hover, .dashboard-button:hover {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 750px) {
  .add-form-title {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .add-form-label {
    font-size: 16px;
  }
  .add-form-input {
    height: 20px;
  }
  #description, #review {
    height: 90px;
  }
}

@media only screen and (min-width: 1300px) {
  .add-form-title {
    font-size: 36px;
    margin-bottom: 32px;
  }
  .add-form-label {
    font-size: 17px;
  }
  #description, #review {
    height: 100px;
  }
}