.plan-section {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.search-label {
  display: block;
  margin-bottom: 1%;
}

#searchTerm {
  width: 60%;
  padding: 0;
  border-radius: 8px;
  border: none;
  padding: 1%;
}

.filter-genre {
  margin-top: 2%
}

#genre-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}

.filter-rating {
  margin-top: 2%
}

#rating-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}

.sort-div {
  margin-top: 2%
}

#sort-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}