.dashboard-section {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 65px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.dashboard-title {
  margin-bottom: 40px;
  font-size: 34px;
}

.total-shows {
  font-size: 24px;
  font-weight: bold;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#underline-total {
  display: none;
}

.chart-title {
  margin-bottom: 2%;
  font-size: 21px;
}

.underline-mini {
  border: 0;
  height: 2px;
  width: 3rem;
  border-top: 2px solid white;
  margin-top: 0;
  margin-bottom: 0;
}

.chart-div {
  margin-top: 10px;
}

.chart {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.rating-chart {
  margin-bottom: 40px;
  margin-top: 10px;
}

@media only screen and (min-width: 750px) {
  .dashboard-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
  .total-shows {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .chart-title {
    font-size: 23px;
  }
  .chart-div {
    margin-bottom: 40px;
  }
  .underline-mini {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1300px) {
  .dashboard-title {
    margin-bottom: 50px;
    font-size: 40px;
  }
  .total-shows {
    font-size: 30px;
  }
  .chart-title {
    font-size: 25px;
  }
  #chart-one, #chart-two {
    width: 40%;
    display: inline-block;
  }
  .underline-mini {
    margin-bottom: 20px;
  }
  .chart-flex {
    display: flex;
    justify-content: space-evenly;
  }
}