.completed-section {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 65px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.tv-queries {
  margin-bottom: 30px;
}

.completed-h1 {
  font-size: 34px;
}

.search-label {
  display: block;
  margin-bottom: 1%;
}

#searchTerm {
  width: 60%;
  padding: 0;
  border-radius: 8px;
  padding: 1%;
}

#genre-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}

#rating-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}

#sort-options {
  width: 62%;
  border-radius: 8px;
  padding: 1%;
}

option {
  font-family: 'Montserrat', sans-serif;
}

select {
  font-family: 'Montserrat', sans-serif;
}

#searchTerm, #genre-options, #rating-options, #sort-options {
  width: 200px;
}

#searchTerm {
  width: 190px;
}

@media only screen and (min-width: 400px) {
  #searchTerm {
    width: 60%;
  }
  #genre-options, #rating-options, #sort-options {
    width: 62%;
  }
}

@media only screen and (min-width: 750px) {
  .completed-h1 {
    font-size: 36px;
  }
  .search-label {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1300px) {
  .completed-h1 {
    font-size: 40px;
  }
  .search-label {
    font-size: 20px;
  }
  #searchTerm, #genre-options, #rating-options, #sort-options {
    width: 220px;
  }
}