body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #887878;
  height: 100%;
  width: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: rgb(110, 7, 7);
  text-shadow: 0.3px 0.3px rgb(110, 7, 7);
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-div {
  margin: 0;
  padding: 0;
}

.error-form {
  margin-bottom: 25px;
  padding: 0;
}

.red-bigger {
  color: rgb(110, 7, 7);
  text-shadow: 0.3px 0.3px rgb(110, 7, 7);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px; 
}

@media only screen and (min-width: 750px) {
  .red-bigger {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1300px) {
  .red-bigger {
    font-size: 30px;
  }
}