.nav-header {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(78, 66, 61);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
}

.nav-logo-header {
  display: flex;
  align-items: center;
  margin-left: 2%;
  width: 50%;
}

.fa-tv {
  cursor: pointer;
  display: inline-block;
  margin-right: 2%;
  color: white;
}

.logo-div {
  margin-right: 10px;
}

.nav-title {
  display: inline-block;
  cursor: pointer;
  font-family: 'Esteban', serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links {
  list-style: none;
}

.nav-li {
  display: inline-block;
  padding: 0;
  padding-right: 10px;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  color: white;
  font-size: 12px;
  /* CHANGE FONT SIZE WHEN LARGER SCREEN */
}

.nav-links li:hover {
  color: rgb(133, 70, 133);
}

@media only screen and (min-width: 500px) {
  .nav-li {
    font-size: 14px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 750px) {
  .nav-li {
    font-size: 16px;
    padding-right: 20px;
  }
  .nav-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 900px) {
  .nav-li {
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1300px) {
  .nav-li {
    font-size: 17px;
    padding-right: 30px;
  }
}