.footer {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(78, 66, 61);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-p {
  font-size: 12px;
}

@media only screen and (min-width: 750px) {
  .footer-p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1300px) {
  .footer-p {
    font-size: 14px;
  }
}